{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts"
        ]
      }
    },
    "import/parsers": {
      "typescript-eslint-parser": [ ".ts" ]
    }
  },
  "plugins": ["jest", "typescript"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": "warn"
  },
  "parser": "typescript-eslint-parser"
}
